body {
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
    text-align: center;
}

/* Só essa div vai centralizar o conteúdo */
.centraliza {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

img {
    max-width: 80%;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

button {
    padding: 10px 15px;
    font-size: 24px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
