body {
    background: linear-gradient(to bottom, /* cria o backgroun em gradiente */
        #e6e6e6 0%, 
        #e0b6b6 70%, 
        #f59393 100%);
    margin: 0;  /* remove a margem padrão do body */
    padding: 0; /* remove o padding padrão do body */
    background-color: #e6e6e6;  
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin: 20px 0;
    font-family: 'Pacifico', sans-serif;
}

/* Só essa div vai centralizar o conteúdo */
.centraliza {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73vh;
    gap: 5px;
}

.polaroid {
    width: 300px;
    height: 360px;
    perspective: 1000px;
    background-color: rgb(255, 255, 255); /* cor da moldura polaroid da foto */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;  /* cria o espaço interno entre a moldura polaroid e a foto, ou seja, uma afastamento pra dentro */
    display: flex;  /* organiza a div polaroid com seus filhos de forma que não sobreponham-se */
    flex-direction: column; /* organiza os filhos da div polaroid em uma coluna, uma a baixo da outra */
    justify-content: flex-start;    /* coloca todos os filhos da div polaroid no topo sobrepondo-se */
    align-items: center;    /* centraliza os filhos da div polaroid horizontalmente */
    position: relative; /* permite posicionar elementos internos (como legenda) em relação à moldura polaroid da foto */
    cursor: pointer;    /* cursor de mãozinha para indicar que a moldura polaroid é clicável */
    flex-shrink: 0; /* impede que a moldura 'polaroid' encolha */
}

.foto {
    width: 100%;
    height: 80%;
    overflow: hidden;   /* garante que a imagem fique dentro do quadrado (moldura) do .foto */
    border-radius: 3px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0);
    transition: none; /* sem transição ao trocar */
}

.polaroid.revelado img {    /* quando a classe polaroid recebe a classe revelado, a imagem dentro dela recebe o filtro brightness(1) */
    filter: brightness(1);  /* revela a imagem ao adicionar a classe 'revelado' */
    transition: filter 2s ease;
}

.polaroid.virada .foto img {
    opacity: 0; /* esconde a imagem quando a polaroid está virada */
    transition: opacity 0.5s ease; /* transição suave para esconder a imagem */
}

.polaroid.virada #texto {
    opacity: 1; /* mostra o texto quando a polaroid está virada */
    transition: opacity 0.5s ease; /* transição suave para mostrar o texto */
}

.legenda {
    text-align: center;
    font-family: 'Pacifico', 'Courier New', Courier, monospace;
    font-size: 14px;
    padding-top: 25px;
}

#texto {
    opacity: 0; /* texto invisível inicialmente */
    transition: opacity 0.5s ease; /* transição suave para mostrar o texto */
    margin-top: 12px;
    background: #eedada; /* cor de fundo do texto */
    color: #363636;
    font-family: 'Yellowtail', 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
    user-select: none; /* impede a seleção do texto */
    max-width: 300px; /* alinhado com a largura da polaroid */
    margin-left: auto; /* centraliza horizontalmente */
    margin-right: auto; /* centraliza horizontalmente */
}

 /*
 .texto {
    margin-top: 12px;
    background: #eedada;
    color: #363636;
    font-family: 'Yellowtail','Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
    user-select: none;
    max-width: 300px; /* alinhado com a largura da polaroid 
    margin-left: auto;
    margin-right: auto;
} 
*/

.musicPlayer {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#playPauseBtn {
    background-color: #f59393;
    color: white;
    font-size: 28px;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playPauseBtn:hover {
    background-color: #e0b6b6;
}

button {
    padding: 10px 15px;
    font-size: 24px;
    border: none;
    background-color: #f59393;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e0b6b6;
}
